<!-- <div class="card" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Doom Ethernal</h5>
    <p class="card-text">
      Hell’s armies have invaded Earth. Become the Slayer in an epic
      single-player campaign to conquer demons across dimensions and stop the
      final destruction of humanity. The only thing they fear... is you.
    </p>
    <button type="button" class="btn btn-primary">Add to Library</button>
  </div>
</div> -->

<div class="card-game">
  <div class="card__game-top">
    <p class="card__game-name">Doom Ethernal</p>
    <p class="card__game-price">200 UAH</p>
  </div>
  <div class="card__game-bottom">
    <p class="card__game-text">
      Hell’s armies have invaded Earth. Become the Slayer in an epic
      single-player campaign to conquer demons across dimensions and stop the
      final destruction of humanity. The only thing they fear... is you.
    </p>
    <button type="button" class="btn btn-primary">Add to Library</button>
  </div>
</div>
