.card-game {
  margin: 5px;
  max-width: 270px;
  border: #ccc 1px dotted;
  border-radius: 4px;
}

.card__game-top {
  background-color: #bdbcff;
  color: #fff;
  padding: 8px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__game-price {
  align-self: flex-end;
  margin: 0;
}

.card__game-name,
.card__game-price {
  font-size: 24px;
}

.card__game-bottom {
  padding: 16px;
}

.card__game-bottom button {
  width: 100%;
}
