<div class="container">
  <h2>Friends</h2>
  <div>
    <p>Search Friends</p>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search Friends"
        aria-label="Search Friends"
        aria-describedby="button-addon2"
      />
    </div>
    <div class="friends-link">
      <h4>My Friends</h4>
      <a class="link" [routerLink]="['/user', 'friends']">Friends Search</a>
    </div>
    <div class="friends-group" *ngIf="friends.length">
      <div
        class="friends-list"
        *ngFor="let friend of friends"
        [ngSwitch]="friend.isFriend"
      >
        <ng-template ngSwitchCase="true">
          <div class="friend">
            <p>{{ friend.name }}</p>
            <button class="btn btn-danger">Remove Friend</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
