<div class="container">
  <h2>Friends</h2>
  <div>
    <p>Search Friends</p>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search Friends"
        aria-label="Search Friends"
        aria-describedby="button-addon2"
      />
    </div>
    <h4>My Friends</h4>
    <!-- <div class="friends-group" *ngIf="friends.length">
      <div class="friends-list">
        <div class="friend" *ngFor="let friend of friends">
          <p>{{ friend.isFriend }}</p>
          <button class="btn">Add Friend</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
