<nav class="navbar">
  <div class="logo">
    <a [routerLink]="['/user', 'games']"
      ><img src="../../../../../assets/steam-seeklogo.com 1.png" alt=""
    /></a>
  </div>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['/user', 'games']">Games</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'library']">Library</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'friends']">Friends</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/user', 'profile']">Profile</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
