<div class="container">
  <h2>Friends</h2>
  <div>
    <p>Search Friends</p>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search Friends"
        aria-label="Search Friends"
        aria-describedby="button-addon2"
      />
    </div>
    <div class="friends-link">
      <h4>Find New Friend</h4>
      <a class="link" [routerLink]="['/user', 'myfriends']">My friends</a>
    </div>
    <div class="friends-group" *ngIf="friends.length; else loading">
      <div class="friends-list">
        <div class="friend" *ngFor="let friend of friends">
          <p>{{ friend.name }}</p>
          <button class="btn btn-primary">Add Friend</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="loader"></div>
</ng-template>
