<div class="container">
  <h2>Games</h2>
  <div>
    <p>Search Games</p>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search Games"
        aria-label="Search Games"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
      >
        Search
      </button>
    </div>
    <h3>Featured Games</h3>
    <div class="games-group" *ngIf="games.length; else loading">
      <div class="games-cards">
        <div class="games-card" *ngFor="let game of games">
          <div class="card-game">
            <div
              class="card__game-top"
              [ngStyle]="{
                'background-image': 'url(' + game.image + ') '
              }"
            >
              <h5 class="card__game-name">{{ game.name | titlecase }}</h5>
              <p class="card__game-price">
                {{ game.price }} {{ game.currancy }}
              </p>
            </div>
            <div class="card__game-bottom">
              <p class="card__game-text">
                {{ game.description }}
              </p>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addToLibrary(game)"
              >
                Add to Library
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="filter-group">
        <p><b>Filter by price</b></p>
        <div class="scroll">
          <input
            type="range"
            class="form-range"
            id="customRange1"
            min="1"
            max="5000"
          />
          <label for="customRange1" class="form-label">Any Price</label>
        </div>

        <div class="check">
          <p><b>Filter by tag</b></p>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Indie
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Action
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Adventure
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader"></div>
</ng-template>
